
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}


body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background: rgb(203, 187, 14);
    color: rgb(0, 0, 0);
    padding: 1rem;
}


.header{
   background: rgb(163, 127, 11);
    color:rgb(0, 0, 0);
    padding: 0.3rem;
    text-align: center;
    border-radius: 12px;
}
.content{
     display:flex; 
    gap:2rem; 
    flex-wrap: wrap; 
    justify-content: center;
    padding: 2rem;
    
    
    

 }

 .card1 a{
    padding:1rem;
    background: rgb(255, 253, 253);
    border-radius: 16px; 
   
 }


 .card2 a {
    padding:1rem;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    
 }
 .card1 p{
    padding:1rem;
     

 }

 
 .card2 p{
    padding:1rem;

 }



.botones{
    justify-content: center;
    text-align: right;
    padding: 1.25;
}

.b1{
    display: inline-block;
    justify-content: center;
    padding: 0.5rem 1rem;
    background: rgb(255, 255, 255); 
    border-radius: 8px;
    color: rgb(0, 0, 0);
}
.b2{
    display: inline-block;
    justify-content: center;
    padding: 0.5rem 1rem;
    background: rgb(255, 255, 255); 
    border-radius: 8px;
   color:black;
}
.contact{
 position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  background-color: lightgray; 
  color: black; 
  padding: 10px; 
  box-sizing: border-box; 
  text-align: left; 
}



.cuadro-imagen img {
  max-width: 100%;      
  max-height: 100%;     


}


