/*Reiniciar el navegador para evitar diferencias de estilo*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*estilos generales de la pagina*/
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    background: #000000;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

/*estilo para el encabezado con degradado*/
.header{
   background: rgb(81, 179, 206);
    color:rgb(0, 0, 0);
    padding: 0.3rem;
    text-align: center;
    border-radius: 12px;
}
.content{
    display:flex; /*coloca las tarjetas una al lado de la otra*/
    gap:2rem; /* separar las tarjetas*/
    flex-wrap: wrap; /* permite que las tarjetas bajen si no caben*/
    justify-content: center;
    

 }

 .card1 a{
    padding:1rem;
 }


 .card2 a {
    padding:1rem;
    
 }
 .card1 p{
    padding:1rem;
 }
 .card2 p{
    padding:1rem;
 }

.botones{
    justify-content: center;
    text-align: right;
    padding: 1.25;
}

.b1{
    display: inline-block;
    justify-content: center;
    padding: 0.5rem 1rem;
    background: rgb(255, 255, 255); 
    border-radius: 8px;
    color: rgb(0, 0, 0);
}
.b2{
    display: inline-block;
    justify-content: center;
    padding: 0.5rem 1rem;
    background: rgb(255, 255, 255); 
    border-radius: 8px;
   color:black;
}
.contact{
    background:brown
    
}

    

 